body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(#00BCD4, #ffffff, #4CAF50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-box {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 9px 0px black;
}

.controls {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
  transform: translateY(40px);
}

.controls-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  display: block;
  height: 33%;
}

.progress-filled {
  height: 100%;
  width: 75px;
  background-color: yellow;
}

.controls-slider {
  width: 33%;
  height: 25px;
}

input, button { 
  border: none; 
  background-color:inherit;
  color: white;
  outline: none;
} 

.hover {
  transform: translateY(0px); 
  transition: transform 300ms;
}