*, *::before, ::after {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  /* Photo by Jason Leung on Unsplash */
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow:0 0 0 10px rgba(0, 0, 0, 0.2);
  width: 275px;
  margin: 300px auto;
  padding: 25px;
}

h2 {
  font-weight: 500;
  text-align: center;
}

.plates {
  list-style: none;
  padding-left: 0;
  margin: 20px;
}

.plates li {
  border-bottom: 1px solid rgb(183, 183, 183);
  font-weight: 500;
  padding: 15px;
}

.plates label {
  flex: 1;
  cursor: pointer;
}

.plates input + label:before {
  content: '⬜️';
  margin-right: 10px;
}

.plates input:checked + label:before {
  content: '🌮';
}

.add-items {
  display: flex;
  justify-content: space-between;
}

.add-items input {
  border: none;
  height: 35px;
  outline: 0;
  padding: 0px 15px;