input {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  font-family: sans-serif;
  border: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}