body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

div, input {
  font-size: 7em;
  font-weight: bold;
  text-transform: uppercase;
}

div {
  position: absolute;
}

.purple {
  color: #9e21ff;
  left: 10px;
}

.blue {
  color: #20f3ff;
}

.green {
  color: #20ff6a;
}

.pink {
  color: #ff20bc;
}



input {
  border: none;
  text-align: center;
}